@import url(https://db.onlinewebfonts.com/c/d298aae8822e966c0be20571d16f5b9f?family=Talis+Thin+W00+Thin);
* {
    margin: 0;
    padding: 0;
    
} 
.container{
    justify-content: space-between;
    display: flex;
    background-color:#EE4D2D;
    color: white;
    padding-top: 10px;
    
}
.a1{
    display: flex;
    padding-left: 150px;
    align-items: center;
   
}
.a11{
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Talis Thin W00 Thin";
    font-weight: 100;
    font-size: small;
   
    word-spacing: -1px;
    
}
.a2{
    display: flex;
    align-items: center; 
    
}
.a21{
    padding-right: 10px;
    padding-left: 2px;
    font-family: "Talis Thin W00 Thin";
    font-weight: 100;
    font-size: small;
}

.a3{
    background-color: #EE4D2D;
    padding-top: 20px;
    
}
.a3 input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  
  box-sizing: border-box;
}
.a3{
    display: flex;
    padding-bottom: 10px;
}
.a3 img{
    height: 50px;
}
.a31{
    width: 700px;
    display: flex;
    justify-content: space-between;
    border:none;
}


.a33{
    display: flex;
    align-items: center;
    border-color: white;
    border-style: solid;
    height: 37px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 8px;
    color: white;
    
}
.banner__logo-svg{
    width: 100px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 50px;
    fill: white; 
}
.a34{
    padding-left: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
}

  
.slider{
    display: flex;
   margin-left: 150px;
    margin-top: 30px;
    width: 400px;
    overflow-x: scroll;
    
    
}


img{
    width: 400px;
}

